* {
   box-sizing: border-box;
}

html {
   font-size: 10px;
   height: 100vh;
}

h1 {
   font-family: 'Nanum Myeongjo', serif;
   color: #fd0;
}

h2, h3, h4 {
   font-family: 'Inconsolata', monospace;
   color: #f2f2f2;
   letter-spacing: 1px;
   word-spacing: 5px;
}

h1 {
   font-size: 8rem;
}

h2 {
   font-size: 3rem;
}

h3 {
   letter-spacing: 1px;
   font-size: 2rem;
}


/* NAV */
nav {
   background-color: #fd0;
   height: auto;
   padding: 1rem 2%;
   align-items: center;
   display: grid;
   grid-template-columns: 15rem 1fr;
}

.logo {
   margin: 0 auto;
   height: 100%;
   width: 10rem;
}

.nav-menu {
   
}

.nav-menu a {
   font-family: 'Inconsolata', monospace;
   font-size: 2rem;
   text-align: center;
   color: #000;
   text-decoration: none;
   float: right;
   padding: 0 5%;
   margin: 0 1rem;
   border: #fd0 2px solid;
   border-radius: 10px;
}

.nav-menu a:hover {
   border: #CEA11C 2px solid;
   border-radius: 10px;
   transition: ease-in-out 0.5s;
}



/* JUMBOTRON */
.jumbotron {
   background-color: black;
   height: 100vh;
   padding: 0;
}

.jumbotron h1 {
   margin-top: 10%;
   margin-bottom: 3rem;  
}

.jumbotron h2 {
   margin-bottom: 3rem;
}

.jumbotron span {
   word-spacing: 1rem;   
}

.info-pic {
   height: 100vh;
   display: grid;
   grid-template-rows: 1fr 1fr;

   border: solid 2px orange;

}

.home-info {
   width: 100vw;
   margin: 0;
   padding-left: 5%;
   grid-row-start: 1;
   grid-row-end: span 1;
}

.bulb {
   background: url(/assets/Images/pics/terry-vlisidis-WsEbnsnKbUE-unsplash.jpg);
   background-size: cover;
   background-position: center center;
   background-blend-mode: hard-light;
   animation: sepia 5s linear infinite alternate;
   width: 100%;
   height: 100vh;
   grid-row-start: 1;
   grid-row-end: span 1;

   border: red solid 2px;
}

@keyframes sepia {
   from {
      filter: sepia(0);
    }
    to {
      filter: sepia(1);
    }
}



/*****************************************/
/* FONTS */
font-family: 'Nanum Myeongjo', serif;
font-family: 'Inconsolata', monospace;


/*****************************************/
/* COLORS */
.colors {
   color: #72727D;
   color: #000;
   color: #FD0;
   color: #CEA11C;
   color: #F2F2F2;
   
   color: rgba 114 114 125 1;
   color: rgba 0 0 0 1;
   color: rgba 255 251 0 1;
   color: rgba 206 161 28 1;
   color: rgba 242 242 242 1;
}